{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="boss-info">
    <p class="boss-insc">Битва с боссом</p>
    <h1 class="boss-name">{{ boss.boss_name }}</h1>

<!-- Шкала HP босса -->
    <div class="boss-hp">
    
    <div class="hp-bar">
        {% for i in boss.hp_segments %}
        <span class="hp-segment {% if i < boss_hp %}alive{% else %}dead{% endif %}"></span>
        {% endfor %}
    </div>
    <p>Здоровье босса</p>
    </div>
</div>
<!-- Спрайты -->
<div class="battlefield">
  <div class="hero"><img src="{% static 'img/squirrel_hero.svg' %}" alt="Герой"></div>  
  <div class="boss"><img src="{% static 'img/fox_boss.svg' %}" alt="{{ boss.boss_name }}"></div>    
  
</div>

<!-- HP игрока -->
<div class="player-hp">
  <div class="hp-bar">
    {% for i in player_hp_segments %}
      <span class="hp-segment {% if i < player_hp %}alive{% else %}dead{% endif %}"></span>
    {% endfor %}
  </div>
  <p>Ваше здоровье</p>

</div>


<div class="hint-button" style="position: absolute; top: 80px; right: 50px; text-align: center;">
  <div>
  <button id="hint-btn" title="Подсказка" style="background: none; border: none; font-size: 30px; cursor: pointer;">?</button>
  </div>
  <p style="margin-top: 5px;">Подсказка</p>

  <!-- Контейнер с подсказками -->
  <div id="hints-container" style="margin-top: 10px; display: none;">
    <ul id="hints-list" style="list-style: none; padding: 0; margin: 0;"></ul>
  </div>
</div>



<!-- Ввод -->
<form method="post" class="word-input-form">
  {% csrf_token %}
  <input type="text" name="word_input" required placeholder="Введите слово на английском" autofocus>
  <button type="submit">Атаковать</button>
</form>

{% if messages %}
  <div class="messages-bottom">
    {% for message in messages %}
      <p class="message {{ message.tags }}">{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

<script>
document.getElementById("hint-btn").addEventListener("click", async () => {
    const container = document.getElementById("hints-container");
    const list = document.getElementById("hints-list");
    container.style.display = "block";

    const slug = "{{ level.slug }}";  // передаём из Django шаблона slug текущего уровня

    try {
        const response = await fetch("{% url 'boss_hints' %}?slug=" + slug);
        const data = await response.json();

        if (data.success) {
            list.innerHTML = "";
            data.hints.forEach(hint => {
                const li = document.createElement("li");
                li.textContent = hint;
                list.appendChild(li);
            });
        } else {
            list.innerHTML = `<li>${data.error}</li>`;
        }
    } catch (e) {
        list.innerHTML = "<li>Ошибка при загрузке подсказок</li>";
    }
});
</script>

{% endblock %}