{% extends "base.html" %}

{% block content %}
<div class="level-complete-container">
  <h1 class="congrats-title">Упс… Вы проиграли!</h1>
  <p class="reward-text">Уровень не пройден.</p>
   <div class="fail-links-container">
      {% if is_boss %}
         <a href="{% url 'level_boss' slug=level.slug %}" class="back-to-map-btn">
            Попробовать снова
         </a>
      {% else %}
         <a href="{% url 'level_trial' slug=level.slug step=0 %}" class="back-to-map-btn">
            Попробовать заново
         </a>
      {% endif %}
      <a href="{% url 'location_map' slug=level.location.slug %}" class="back-to-map-btn">
         Вернуться на карту
      </a>
   </div>
</div>
{% endblock %}
